extends /layout.pug

block content
  ul
    li: a(href='commands') All Commands
    //- li: a(href='tasks') All Tasks
    li: a(href='fgojp') F/GO JP Profiles
    li: a(href='fgona') F/GO NA Profiles
