doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/css/spectre.min.css', type='text/css')
    link(rel='stylesheet', href='/css/spectre-icons.min.css', type='text/css')

  body
    include navbar
    .container
      block content
    block footer
body