header.navbar
  section.navbar-section
    a.btn.btn-link(href='/') Home
    a.btn.btn-link(href='/commands') Commands
    //- a.btn.btn-link(href='/tasks') Tasks
    a.btn.btn-link(href='/fgojp') F/GO JP Profiles
    a.btn.btn-link(href='/fgona') F/GO NA Profiles