extends /layout.pug

mixin argRow(arg)
  tr
    td= arg.name
    td= arg.required
    td= arg.description

block content
  .columns
    .column.col-6.col-mx-auto
      h1 Command: #[code= command.name]
      - let usageArr = [command.name]
      - for (let i = 0; i < command.args.length; i++) {
      -   const arg = command.args[i]
      -   usageArr.push(arg.required ? `<${arg.name}>` : `[${arg.name}]`)
      - }
      - const usage = usageArr.join(' ')
      p Usage: #[code= usage]
      p Short Description: #{command.shortDesc}
      p Long Description: #{command.longDesc}

      if (command.args.length > 0)
        table.table.table-striped.table-hover
          thead:tr
            th Argument
            th Required?
            th Description
          tbody
            each arg in command.args
              +argRow(arg)
      else
        p This command does not take any arguments.
