extends /layout.pug

mixin commandLink(command)
  li
    a(href=`commands/${command.name}`) #{command.name}

block content
  h1 Available Commands
  ul
    each command in commandList
      +commandLink(command)
