extends /layout.pug

mixin profilePreview(profile)
  .column.col-3(style='padding:0.5em;')
    .card
      .card-header
        .card-title.h5= profile.name
        .card-subtitle= profile.userId
      .card-image
        img.img-responsive(src=profile.imgPath, style='width:100%; height:auto;')
      .card-footer
        a.btn.btn-primary(href=`fgo${region}/profile/${profile.discordId}`) Details

block content
  if profiles.length > 0
    .columns.col-10.col-mx-auto
      each profile in profiles
        +profilePreview(profile)

  else
    .columns
      .column.col-4.col-mx-auto
        .empty
          .empty-icon
            i.icon.icon-4x.icon-people
          p.empty-title.h5 Sorry, there are no viewable profiles. :(
          p.empty-subtitle Perhaps try checking back later?
          p.empty-subtitle ...or add your own by messaging the bot!

