extends /layout.pug

block content
  .columns
    .column.col-6.col-mx-auto
      .card
        .card-header
          .card-title.h5= profile.name
          .card-subtitle Friend Code: #[b= profile.userId]
          .card-subtitle Discord ID: #[b= code= username]
        .card-image
          img.img-responsive(src=`/${profile.imgPath}`, style='max-width:100%; height:auto;')
        .card-footer
          - const date = new Date(profile.updated).toLocaleString('en-US', { timeZone: 'UTC' }) + ' UTC'
          p.text-center Profile last updated: #{date}
